@model ProfileEditViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
@if (TempData["ok"] != null)
{
     <div class="alert alert-success">@TempData["ok"]</div>
}

<form asp-action="EditProfile" method="post" >

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

