@model EditPasswordViewModel
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@if (TempData["ok"] != null)
{
    <div class="alert alert-success">@TempData["ok"]</div>
}
<form asp-action="EditPassword" method="post" class="col-md-6 col-lg-5">
  
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" />
        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" autocomplete="new-password" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
</form>
