@model Testimonial
@{
    ViewData["Title"] = "Yorum & Referans Düzenle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<form asp-action="UpdateTestimonial" asp-controller="Testimonial" method="post" >
    <input type="hidden" asp-for="TestimonialId" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Referans Adı</label>
        <input asp-for="Name" class="form-control" placeholder="Ad Soyad giriniz" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Başlık</label>
        <input asp-for="Title" class="form-control" placeholder="Örn: Yazılım Müdürü, Proje Yöneticisi.." />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Comment" class="form-label">Hakkındaki Yorum & Görüş</label>
        <textarea asp-for="Comment" class="form-control" rows="4" placeholder="Yorum giriniz"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Referans Görsel Url</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
    </div>

    <button type="submit" class="btn btn-success d-inline-flex">
        <i class="ti ti-rotate-clockwise-2"></i>Güncelle
    </button>
    <a href="/Testimonial/Index" class="btn btn-warning d-inline-flex ms-2">
        <i class="ti ti-arrow-back-up me-1"></i> Geri Dön
    </a>
</form>

