@model List<Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>

    @foreach(var item in Model)
    {            
        count++;
        <tr>

            <td>@count</td>
            <td>@item.CategoryName</td>
            <td>
                <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger d-inline-flex"><i class="ti ti-alert-triangle me-1"></i>Sil</a>
                <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success d-inline-flex"><i class="ti ti-circle-check me-1"></i>Güncelle</a>

            </td>
            
        </tr>
    }

</table>

<a href="/Category/CreateCategory" class="btn btn-primary"><i class="ti ti-file-plus"></i>Yeni Kategori Oluştur</a>

