@model Category
@{
    ViewData["Title"] = "Kategori Güncelleme Sayfası";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="CategoryId"/>
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
    </div>

    <button class="btn btn-success"><i class="ti ti-rotate-clockwise-2"></i>Güncelle</button>
</form>

